
.home_body {
  overflow-x: hidden;
  min-width: 320px;
  font-weight: 300;

  .home_warpper {
    width: 100%;

    .layout-header {
      position: relative;
      color: #fff;
      overflow: hidden;
    }



    .layout-footer {
      position: relative;
      background: #2c2c2c;
      color: #fff;
      font-size: 14px;
      min-width: 1200px;
      font-family: PingFang SC,Helvetica Neue,Helvetica,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;

      .container {
        width: 1170px!important;
        padding: 0!important;
        margin: 0 auto;
        display: table;

        &::before, &::after {
          display: table;
          content: ' '
        }

        .left {
          display: flex;
          width: 57.62712%;
          float: left;
          margin-right: 1.69492%;
          position: relative;

          .line {
            position: absolute;
            right: 0;
            top: 35px;
            height: 133px;
            border-right: 1px solid hsla(0,0%,100%,.1);
          }
        }

        .right {
          display: flex;
          width: 40.67797%;
          float: right;
          margin-right: 0;
          padding-left: 5.08475%;
        }

        .menu {
          flex-basis: 0;
          flex-grow: 1;

          .title {
            font-size: 16px;
            margin-bottom: 14px;
          }

          a {
            display: block;
            color: hsla(0,0%,100%,.7);
            margin-bottom: 8px;
            text-decoration: none;
          }

          .inline {
            display: inline;
          }
        }

        .links {
          width: 40.67797%;
          float: right;
          margin-right: 0;
          padding-left: 5.08475%;
          margin-top: 38px;

          .iconfont {
            width: 32px;
            height: 32px;
            display: inline-flex;
            background: #a1a1a1;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            color: #484646;
            margin-right: 40px;
            position: relative;

            .qrcode {
              display: none;
              position: absolute;
              width: 92px;
              height: 92px;
              bottom: 42px;
              left: -28px;
              text-align: center;
              background-color: #fff;
              transition: all .5s ;

              .triangle-down {
                position: absolute;
                bottom: -8px;
                left: 50%;
                margin-left: -6px;
                width: 0;
                height: 0;
                border-top: 10px solid #fff;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
              }
            }

            &::before {
              position: absolute;
            }

            &.icon-WeChat-LC {
              font-size: 20px;

              &::before {
                top: 2px;
              }

              &:hover {
                background: #88cb39;

                .qrcode {
                  display: block;
                }
              }
            }

            &.icon-weibo {

              &:hover {
                background: #f56f59;
              }
            }

            &.icon-github {
              font-size: 27px;

              &::before {
                top: 0px;
              }

              &:hover {
                background: #46a4ed;
              }
            }

            &.icon-segmentfault {
              &:hover {
                background: #23a874;
              }
            }
          }
        }
      }


      .top {
        padding: 65px 0 63px !important;
        min-height: 180px;
      }

      .line {
        border-top: 1px solid hsla(0,0%,100%,.1);
        max-width: 1170px;
        margin: auto;
      }

      .icp {
        text-align: center;
        color: hsla(0,0%,100%,.7);
        padding-top: 25px;
        font-size: 12px;
        padding-bottom: 29px;
        line-height: 25px;

        p {
          margin: 8px 0;
        }

        img {
          position: relative;
          top: 5px;
          margin: 0 7px;
        }
      }


    }

    .layout-footer-mobile {
      display: none;
      position: absolute;
      width: 100%;
      height: 40px;
      text-align: center;
      font-size: 12px;
      bottom: 5px;
    }

    @media (max-width: 640px) {

      .layout-footer {
        min-width: auto;

        .container, .line {
          display: none;
        }
        //
        .icp p {
          line-height: 1.5;
          padding: 0 15px;
        }
      }

      .layout-footer-mobile {
        display: block;
      }
    }
  }
}